img {
  background-color: transparent;
  border-bottom-right-radius: 50%;
  margin-top: 5px;
  position: relative;
  top: 270px;
  left: 0px;
}
.word {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-style: italic;
}

* {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 42px;
  text-align: center;
  margin-top: 20px;
  margin-left: 65px;
  color: black;
}

header {
  margin-bottom: 30px;
  width: 670px;
}
footer {
  background-color: transparent;
  text-align: center;
}
form {
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: white;
  width: 600px;
  margin: 0 auto;
}
#inputText {
  font-size: 20px;
  padding: 14px 24px;
  border-radius: 20px;
  width: 66%;
  background-color: #f9f7fe;
  border: none;
  box-shadow: rgba(65, 50, 100, 0.08);
  line-height: 20px;
  margin: 0 auto;
}

.intro {
  max-width: 640px;
  margin: auto;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7;
  font-family: Georgia, "Times New Roman", Times, serif;
}
p,
a {
  font-size: 18px;
  background-color: transparent;
}

a {
  font-weight: bold;
  color: #c9082e;
}
.cultural-food {
  font-size: 18px;
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  background-color: #ffffff;
  width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  border-left: 4px solid rgb(196, 15, 51);
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.submit-button {
  font-size: 18px;
  padding: 14px 24px;
  border-radius: 20px;
  width: 20%;
  background-color: rgb(201, 8, 46);
  color: white;
  border: none;
  margin-left: 10px;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
